tgcrypto==1.2.3
asyncio
ffmpeg-python
py-tgcalls==0.9.1
pyrogram==2.0.27
youtube-search-python
lyricsgenius
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
wget
